body {
    margin: 0 auto;
}
.section-1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    text-align: center;
    align-items: center;
    background-color: #a9d4dc;
}
.section-2 {
    display: flex;
    margin: 0 auto;
    height: auto;
    text-align: center;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.section-3 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    text-align: center;
    align-items: center;
    background-color: #97d2a4;
}
.section-4 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    background-color: #f0f1f2;
    align-items: center;
}
.section-5 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    background-color: #deb6c6;
    align-items: center;
}
.section-6 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    background-color: #a9d4dc;
    align-items: center;
}
.section-7 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: #3b3c3d;
}
header {
    display: flex;
    width: 924px;
    height: auto;
    box-sizing: border-box;
    padding: 40px 0;
}
.initial {
    display: flex;
}
.fas {
    font-size: 30px;
    width: 36px;
}
.icon1 {
    display: flex;
    width: 36px;
    margin: 5px 0;
    color: #3a494c;
}
.colorfull {
    display: flex;
    font-family: 'Open Sans';
    padding: 3px 0 1px;
    margin: 5px 15px;
    font-size: 25px;
    color: #3a494c;
}
.buttons {
    display: flex;
    height: 40px;
    color: #3a494c;
    font-size: 16.5px;
    font-family: sans-serif;
    align-items: center;
    transition-duration: 0.4s;
    cursor: pointer; 
}
.bttn {
    display: flex;
    text-decoration: none;
    margin: 0 10px;
    box-sizing: border-box;
    padding: 13px;
    justify-content: center;
    border-radius: 4px;
    background-color: #a8d4dd;
    color: #3a494c; 
}    
.bttn:hover {
    background-color: #3a494c;
    color: #a8d4dd;
    border: 2px solid #3a494c; 
}
.home {margin-left: 127.5px;width: 75px; height: 45px;}
.services {width: 96px; height: 45px;}
.portfolio {width: 98px; height: 45px;}
.blog {width: 66px; height: 45px;}
.contact {margin-right: 0;width: 93px; height: 45px;}
.box {
    display: flex;
    width: 924px;
}
.template {
    display: flex;
    font-family: 'Open Sans';
    margin: 94px 0;
    font-size: 51.2px;
    align-items: center;
    align-content: center;
    color: #fcfefe;
}
.awesome {
    margin: 0;  
}
.computer {
    display: flex;
    margin: 30px 90px;
    margin-bottom: 0;
    justify-content: center;
}
.circles {
    display: flex;
    width: 924px;
    height: 50px;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.circle {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 27px 10px 30px 0;
    border: 2px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.circle:hover {
    background-color: white;
}
.box-2 {
    display: flex;
    width: 924px;
    height: auto;
    justify-content: space-between;
}
.box-2-1 {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: auto;
    margin: 80px 0;
    align-items: center;
}
.flat {
    display: flex;
    width: 123px;
    justify-content: center;
}
.great {
    display: flex;
    width: 70px;
    justify-content: center;
}
.document {
    display: flex;
    width: 107px;
    height: 86px;
    margin: 7.5px 0;
    justify-content: center;
}
.box-2-2 {
    display: flex;
    flex-direction: column;
}
.h4 {
    font-family: sans-serif;
    margin: 0;
    margin-top: 27px;
    color: #303030;
}
.p {
    font-family: sans-serif;
    font-size: 15px;
    margin: 20px 0;
    line-height: 17px;
    color: #9e9e9e;
}
.recent {
    display: flex;
    margin: 50px 0;
    margin-bottom: 0;
    font-size: 45px;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans';
    color: #ebf7ef;
}
.works {width: 380px;height: 35px;}
.p2 {
    display: flex;
    font-family: sans-serif;
    font-size: 13px;
    margin: 20px 258px;
    margin-bottom: 0;
    line-height: 20px;
    color: #c8ecd2;
}
.s-3 {width: 406px;height: 35px;}
.bttns {
    display: flex;
    font-size: 15px; 
    font-family: sans-serif;
    margin: 70px auto;
    margin-bottom: 0;
    height: auto;  
    box-sizing: border-box;
}
.button-2 {
    display: flex;
    margin-right: 30px;
    height: 40px;
    padding: 0 10px;
    color: #fafefe;  
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid #97d2a4;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.button-2:hover {
    background-color: #fafefe;
    color: #97d2a4;
    border: 2px solid #fafefe;
}
.all {width: 30px;}
.web {width: 35px;}
.mobile{width: 60px;}
.photo{width: 124px;}
.design{width: 60px;}
.type {margin-right: 0; width: 40px;}
.images {
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    width: 924px;
}
.images-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
}
.images-2 {
    display: flex;
    justify-content: space-between;
}
.imag {
    display: flex;
    width: 263px;
}
.show {
    font-family: sans-serif;
    display: flex;
    background-color: #fafefe;
    color: #97d2a4;
    font-size: 15px;
    width: 140px;
    height: 60px;
    margin: 90px 0;
    padding: 0 16px;
    border: 0;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.box-4 {
    display: flex;
    width: 924px;
    margin: 60px 0;
    font-family: sans-serif;
}
.box-4-1 {
    display: flex;
    width: 924px;
    margin: 0;
    margin-bottom: 90px;
    font-family: sans-serif;
}
.page4-12 {
    display: flex;
    width: 924px;
    height: auto;
    margin-bottom: 88px;
    justify-content: center;
}
.box-4-2 {
    display: flex;
    width: 254px;height: 208px;
}
.box-4-3 {
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    padding-left: 50px;
}
.layered {
    padding: 0;
}
.line {
    width: 924px;
    margin: 0;
    margin-bottom: 80px;
    border: 1px solid #d9dada;
}
.showm {
    display: flex;
    background-color: #97d2a4;
    color: #fafefe;
    width: 140px;
    height: 60px;
    margin: 0;
    font-size: 15px;
    padding: 0 10px;
    border: 0;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.add-2 {background-color: #a6d3da;}
.h5 {
    display: flex;
    margin: 20px 0;
    color: #303030;
    font-size: 20px;
}
.p3 {
    display: flex;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    margin-right: 6px;
    line-height: 20px;
    color: #969696;
    text-align: initial;
margin-bottom: 27px;
}
.add-3 {
    margin-right: 50px;
}
.meet {
    display: flex;
    color: #eedce4;
    width: 404px;
    height: 35px;
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 45px;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans';
}
.s-5 {color: #e9d4de; margin-bottom: 90px; width: 410px;}
.box-5 {
    display: flex;
    width: 924px;
    margin-bottom: 95px;
    justify-content: space-between;
}
.box-5-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#feffff;
}
.img {width: 260px;height: 175px;}
.john {
    font-family: 'Open Sans';
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 29px;
    height: 20px;
    color: #303030;
}
.creative {
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 15px;
    color: #303030;
    font-size: 16px;
}
.lorem {
    font-family: sans-serif;
    font-size: 15px;
    margin: 0;
    margin-bottom: 22px;
    height: 53px;
    width: 195px;
    line-height: 17px;
    color: #b7b7b7;
}
.facebook {
    display: flex;
    font-size: 35px;
    margin: 0 10px;
    margin-bottom: 20px;
    color: #2433a0;
}
.twitter {
    display: flex;
    font-size: 35px;
    margin: 0 10px;
    margin-bottom: 20px;
    color: #2ea8fb;
}
.pinterest {
    display: flex;
    font-size: 35px;
    margin: 0 10px;
    margin-bottom: 20px;
    color: #ce1933;
}
.rworks {
    display: flex;
    color: #e9f3f5;
    width: 404px;
    height: 35px;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 45px;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans';
}
.s-6 {color: #cae1e9; margin-bottom: 77px; width: 410px;margin-top: 0;}
.box-6 {
    display: flex;
    width: 924px;
    justify-content: space-between;
}
.box-6-1 {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.x {height: 55px;width: 55px;}
.box6-12 {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 145px;
    justify-content: center;
    align-items: center;
    background-color: #e8e9ea;
}
.box6-13 {
    display: flex;
    flex-direction: column;
    width: 288px;
    background-color: #ffffff;
}
.bttn3 {
    display: flex;
    margin: 20px;
    height: 40px;
    padding: 15px;
    border: 0;
    border-radius: 6px;
    color: #fafefe;  
    font-size: 12px; 
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.h6 {
    font-family: sans-serif;
    margin: 0;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 14px;
    height: 16px;
    color: #303030;
    width: 288px;
}
.p6-1 {
    font-family: sans-serif;
    font-size: 13.5px;
    margin: 0;
    margin-bottom: 68px;
    height: 13px;
    color: #a4a5a5;
    margin-bottom: 25px;
    line-height: 17px;
    margin-bottom: 5px;
    width: 288px;
}
.p6-2 {
    font-family: sans-serif;
    font-size: 13px;
    margin: 15px 0 29px 0;
    height: 63px;
    line-height: 17px;
    color: #b7b7b7;
    width: 288px;
    box-sizing: border-box;
    padding: 0 20px;
}
.add-6 {
    color: #a6d3da;
    margin-top: 70px;
    margin-bottom: 75px;
}
.contactus {
    display: flex;
    color: #c6c6c6;
    height: 35px;
    margin-top: 72px;
    margin-bottom: 20px;
    font-size: 45px;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans';
}
.p7 {
    display: flex;
    font-family: sans-serif;
    font-size: 13px;
    margin: 0;
    margin-bottom: 90px;
    line-height: 20px;
    width: 407px;
    height: 35px;
    color: #e7e8e9;
    align-items: center;
    text-align: center;
}
form {display: flex; flex-direction: column;align-items: center;}
.form {
    display: flex;
    flex-direction: column;
    width: 570px;
    margin-bottom: 40px;
}
.first {
    display: flex;
    height: 60px;
    margin: 0;
    margin-bottom: 15px;
}
.second {
    display: flex;
    height: 160px;
    margin: 0;
}
.line-7 {
    width: 924px;
    margin: 0;
    margin-bottom: 40px;
    color: #161718;
}
.box-7 {
    display: flex;
    width: 924px;
    margin-bottom: 34px;
}
.box-7-1 {
    display: flex;
    width: 211px;
    margin: 0;
}
.box-7-2 {
    display: flex;
    height: 43px;
    margin:0;
    margin-left: 266px;
}
.facebook7 {
    display: flex;
    font-size: 43px;
    margin: 0;
    margin-right: 10px;
    color: #4c4d4e;
}
.twitter7 {
    display: flex;
    font-size: 43px;
    margin: 0;
    margin-right: 10px;
    color: #4c4d4e;
}
.html7 {
    display: flex;
    font-size: 43px;
    margin: 0;
    margin-right: 10px;
    color: #4c4d4e;
}
.flickr {
    display: flex;
    font-size: 43px;
    margin: 0;
    margin-right: 10px;
    color: #4c4d4e;
}
.p7-1 {
    display: flex;
    font-family: sans-serif;
    color: #ffde8e;
    margin: 0;
    align-items: center;
}
.p7-2 {
    display: flex;
    font-family: sans-serif;
    color: #929293;
    margin: 0 5px;
    margin-right: 0;
    align-items: center;
}
.p7-3 {
    display: flex;
    font-family: sans-serif;
    color: #ffde8e;
    margin: 0;
    margin-left: 5px;
    align-items: center;
}
.formulario {
    display: flex;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    padding: 0 10px;
    background-color: #feffff;
    color: #a3a4a5;
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.add-7 {
    display: flex;
    color: #474748;
    margin: 0;
    margin-bottom: 70px;
}